@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

ol,
ul {
	list-style: none;
}

caption,
th,
td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q,
blockquote {
	quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
	display: block;
}

/*html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 62.5%;
	/* Sets up the Base 10 stuff 
}*/

/*body {
	font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, "\5B8B\4F53" !important;
	font-size: 12px;
	line-height: 1.8em;
	text-rendering: auto;
	color: #666;
	background-color: #fbfaf8;
}*/

header a {
	color: #666666;
	text-decoration: none;
	cursor: pointer;
}

header a:hover {
	color: #00a2ca;
	/*text-decoration: underline;*/
}

header {
	min-width: 998px
	/*width: 100%;*/
}

.header-wrap {
	height: 75px;
	/*background: #00a2ca;*/
	background: #373D41;
	/* background:url('../images/topbg.jpg') repeat-x; */
	position: relative;
	z-index: 103
}

.header-wrap .header-inner {
	height: 75px;
	margin: auto
}

.header-wrap .header-inner .logo {
	position: absolute;
	display: inherit;
	font-size: 24px;
	line-height: 75px;
	height: 75px;
	width: 160px;
	color: #fff;
}

.header-wrap .header-inner .sub-logo {
	display: none
}

.header-wrap .header-inner nav {
	overflow: hidden;
	height: 75px;
	float: right;
	clear: right
}

.header-wrap .header-inner nav ul {
	margin: 0;
	float: right
}

.header-wrap .header-inner nav ul li {
	float: left;
	padding: 0 14px;
	height: 75px;
	line-height: 75px;
	font-size: 16px
}

.header-wrap .header-inner nav ul li h2 {
	color: #fff;
	font-size: 16px;
	cursor: default;
	font-weight: normal
}

.header-wrap .header-inner nav ul li.selected {
	background-color: #0095bb
}

.header-wrap .header-inner .nav-right {
	float: right;
	padding-top: 19px;
	width: 100%
}

.header-wrap .header-inner .nav-right .uname {
	font-size: 12px;
	cursor: pointer;
	color: #00a2ca;
	height: 28px;
	line-height: 33px
}

.header-wrap .header-inner .nav-right .btn-login {
	padding: 6px 9%;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

.header-wrap .header-inner .nav-right .login {
	display: none;
	height: 33px;
	color: #fff;
	float: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 50%;
	background: #008fb2;
	padding: 0px 20px 0 10px;
	font-size: 12px
}

.header-wrap .header-inner .nav-right .login a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	width: 100%;
	color: #fff
}

.header-wrap .header-inner .nav-right .login a:hover {
	text-decoration: none
}

.header-wrap .header-inner .nav-right .login .login-dropdown {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	padding: 0;
	top: 30px
}

.header-wrap .header-inner .nav-right .login .login-dropdown li {
	background: #008fb2;
	border-top: 1px solid #007390;
	height: 34px;
	line-height: 34px;
	text-indent: 15px
}

.header-wrap .header-inner .nav-right .login .login-dropdown li.last {
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px
}

.header-wrap .header-inner .nav-right .login .login-dropdown li:hover {
	background: #0080a0
}

.header-wrap .header-inner .nav-right .login .login-dropdown a {
	display: block;
	color: #fff
}

.header-wrap .header-inner .nav-right .login .login-dropdown a:hover {
	text-decoration: none
}

.header-wrap .header-inner .nav-right .login:hover {
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0
}

.header-wrap .header-inner .nav-right .login:hover b {
	border-color: #008fb2 #008fb2 #fff;
	top: 11px
}

.header-wrap .header-inner .nav-right .login:hover ul {
	display: block;
	z-index: 102
}

.header-wrap .header-inner .nav-right .login b {
	position: absolute;
	right: 7px;
	top: 16px;
	width: 0;
	height: 0;
	border-width: 4px 4px;
	border-style: solid;
	border-color: #fff #008fb2 #008fb2;
	font-size: 0;
	line-height: 0
}

.header-wrap .header-inner .nav-right .hover {
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0
}

.header-wrap .header-inner .nav-right .hover b {
	border-color: #008fb2 #008fb2 #fff !important;
	top: 11px !important
}

.header-wrap .header-inner .nav-right .hover ul {
	display: block !important;
	z-index: 102 !important
}

.header-wrap .header-inner .nav-right .sign-in {
	display: none;
	width: 58%;
	padding: 8px 0;
	color: #30aed6;
	float: left
}

.header-wrap .header-inner .nav-right .sign-in a {
	color: #fff;
	padding: 0 12%;
	_padding: 0 2px;
	font-size: 14px
}

.header-wrap .header-inner .nav-right .sign-in.unlogined {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline
}

.header-wrap .header-inner .nav-right .free {
	float: right;
	background: #fff
}

.header-wrap .header-inner .nav-right .free:hover {
	background: #9cddf5;
	text-decoration: none
}

.sub-menus {
	position: absolute;
	left: 0;
	right: 0;
	top: 75px;
	z-index: 102
}

.sub-menus .sub-menu {
	width: 100%;
	margin: 0;
	overflow: hidden;
	*zoom: 1;
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	background: #333;
	position: absolute;
	top: -500px;
	-webkit-transition-duration: 550ms;
	-moz-transition-duration: 550ms;
	-o-transition-duration: 550ms;
	transition-duration: 550ms;
	-webkit-transition-timing-function: cubic-bezier(0.17, 0.5, 0.44, 0.36);
	-moz-transition-timing-function: cubic-bezier(0.17, 0.5, 0.44, 0.36);
	-o-transition-timing-function: cubic-bezier(0.17, 0.5, 0.44, 0.36);
	transition-timing-function: cubic-bezier(0.17, 0.5, 0.44, 0.36)
}

.sub-menus .sub-menu.show {
	-webkit-transition-timing-function: cubic-bezier(0.73, 0.67, 0.77, 0.92);
	-moz-transition-timing-function: cubic-bezier(0.73, 0.67, 0.77, 0.92);
	-o-transition-timing-function: cubic-bezier(0.73, 0.67, 0.77, 0.92);
	transition-timing-function: cubic-bezier(0.73, 0.67, 0.77, 0.92);
	-webkit-transition-duration: 250ms;
	-moz-transition-duration: 250ms;
	-o-transition-duration: 250ms;
	transition-duration: 250ms;
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	top: -30px;
}

.sub-menus .sub-menu dl {
	padding: 12.5px 30px 12.5px 0;
	float: left;
	font-size: 14px
}

.sub-menus .sub-menu dl dt {
	color: #959595;
	margin-top: 8px;
	margin-bottom: 6px;
	padding-bottom: 11px;
	border-bottom: 1px solid #666
}

.sub-menus .sub-menu dl dd {
	margin-bottom: 5px;
	margin-left: -5px;
	padding: 5px 0
}

.sub-menus .sub-menu dl dd a {
	padding: 0 5px;
	color: #ddd
}

.sub-menus .sub-menu dl dd a:hover,
.sub-menus .sub-menu dl dd a.current {
	color: #00a2ca;
	text-decoration: none
}

.sub-menus .sub-menu dl dd i {
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	width: 1px;
	height: 12px;
	margin: 7px 0;
	background: #c8c8d0;
	margin: 0 10px;
	vertical-align: middle
}


/*
Grid
totalColumns: 12, gutterWidth: 2%
*/

.y-span1,
.y-span2,
.y-span3,
.y-span4,
.y-span5,
.y-span6,
.y-span7,
.y-span8,
.y-span9,
.y-span10,
.y-span11,
.y-span12 {
	float: left;
	margin-right: 2%;
	_margin-right: 1.9%;
}

.y-span1 {
	width: 6.5%;
}

.y-span2 {
	width: 15%;
}

.y-span3 {
	width: 23.5%;
}

.y-span4 {
	width: 32%;
}

.y-span5 {
	width: 40.5%;
}

.y-span6 {
	width: 49%;
}

.y-span7 {
	width: 57.5%;
}

.y-span8 {
	width: 66%;
}

.y-span9 {
	width: 74.5%;
}

.y-span10 {
	width: 83%;
}

.y-span11 {
	width: 91.5%;
}

.y-span12 {
	width: 100%;
}

.y-row {
	zoom: 1;
	margin-left: auto;
	margin-right: auto;
}

.y-row:before,
.y-row:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.y-row:after {
	clear: both;
}

.y-row .y-last {
	margin-right: 0;
}

.y-h1,
.y-h2,
.y-h3 {
	color: #000;
}

.y-h1 {
	font-size: 24px;
}

.y-h2 {
	font-size: 16px;
}

.y-h3 {
	font-size: 14px;
}

.y-stepguide {
	display: block;
	clear: both;
	padding: 10px 0;
	overflow: hidden;
	font-size: 14px;
	zoom: 1;
}

.y-stepguide:before,
.y-stepguide:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.y-stepguide:after {
	clear: both;
}

.y-stepguide li {
	display: block;
	float: left;
	text-align: center;
	height: 25px;
	line-height: 25px;
	margin-left: -16px;
	padding-left: 16px;
	color: #FFF;
	background: url(/images/www-knight/components/form-supporter/stepguide.png?v=20131218) left center;
}

.y-stepguide li span {
	display: block;
	clear: both;
	background: #69D1EA;
}

.y-stepguide li.y-stepguide-unfinished {
	background: url(/images/www-knight/components/form-supporter/stepguide-unfinished.png?v=20131218) left center;
}

.y-stepguide li.y-stepguide-unfinished span {
	background: #CCC;
}

.y-stepguide-2step li {
	width: 49.9%;
}

.y-stepguide-3step li {
	width: 33.3%;
}

.y-stepguide-4step li {
	width: 24.9%;
}

.y-form {
	zoom: 1;
	font-size: 12px;
}

.y-form:before,
.y-form:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.y-form:after {
	clear: both;
}

.y-form table {
	width: 100%;
}

.y-form table tr th {
	width: 160px;
	text-align: left;
}

.y-form table tr td {
	padding: 10px 5px;
	vertical-align: middle;
}

.y-form .y-form-error {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	margin-left: 5px;
	padding-left: 25px;
	color: #F36000;
	line-height: 25px;
	background: url(/images/www-knight/components/form-supporter/error.png?v=20131218) left center no-repeat;
}

.y-form .y-form-tip {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	margin-left: 5px;
	color: #666;
	line-height: 25px;
}

.y-form .y-radios {
	vertical-align: middle;
}

.y-form .y-textbox {
	vertical-align: middle;
}

.y-form .y-btn {
	vertical-align: middle;
}

.y-upload {
	position: relative;
	overflow: hidden !important;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.y-upload input {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	width: 500px;
	height: 100px;
	cursor: pointer;
	font-size: 100px;
}

.y-radios {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.y-radios label {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: 10px;
	padding: 5px 0;
}

.y-radios label span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	cursor: default;
}

.y-radios label input {
	width: 13px;
	height: 13px;
	vertical-align: middle;
	margin: 0 5px 0 0;
	padding: 0;
}

.y-checkboxes {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.y-checkboxes label {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: 10px;
	padding: 5px 0;
}

.y-checkboxes label span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	cursor: default;
}

.y-checkboxes label input {
	width: 13px;
	height: 13px;
	vertical-align: middle;
	margin: 0 5px 0 0;
	padding: 0;
}

.y-form-suboptions {
	clear: both;
	padding: 10px 0 10px 20px;
	display: block !important;
}

input.y-textbox {
	border: solid 1px #ccc;
	height: 28px;
	padding: 2px;
	line-height: 28px;
	outline: none;
	box-shadow: inset 1px 1px 1px #e8e8e8;
	color: #000;
	width: 240px;
}

input.y-textbox:disabled {
	background: #EBEBEB;
}

input.y-textbox:focus {
	border-color: #00A0CB;
}

.y-form-submit {
	padding: 20px 0;
	clear: both;
	text-align: center;
}

textarea.y-textarea {
	border: 1px solid #CCC;
	box-shadow: inset 1px 1px 1px #e8e8e8;
	min-height: 80px;
	width: 300px;
	vertical-align: middle;
}

textarea.y-textarea:focus {
	border-color: #00A0CB;
	outline: none;
}

.y-form-cell-upload img {
	border: 1px solid #CCC;
	padding: 3px;
	display: none;
	margin-top: 10px;
	clear: both;
	max-width: 185px;
	max-height: 185px;
}

.y-form-ie-preview {
	width: 185px;
	height: 185px;
	margin-top: 10px;
}

select.y-select {
	color: #333;
	height: 34px;
	-webkit-appearance: none;
	-webkit-padding-end: 30px;
	-webkit-padding-start: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 16px;
	background-image: -webkit-image-set(url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC") 1x, url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAQCAYAAACV3GYgAAAAWklEQVRIx+3VOwoAIAwD0B49N686CCJ+K0aHFrIl8LaKqsqvEccxcPEQo8bgNs4KTBth4HaByCMWbhWIcsDEzYCoy2xcD4hW8QWuBqJXeoXLQIwK/iEc57iDBIg+ClNpjek/AAAAAElFTkSuQmCC") 2x);
	background-position: right center;
	background-repeat: no-repeat;
	border: 1px solid #CCC;
	border-radius: 0px;
	vertical-align: middle;
	outline: 0px;
}

select.y-select:focus {
	border-color: #00A0CB;
}

.y-form-panel {
	border: 1px solid #EBEBEB;
	background: #FFF;
	padding: 20px 0 20px 0;
	margin-bottom: 55px;
	*zoom: 1;
}

.y-form-panel .y-form {
	margin-left: 22%;
}

.y-form-info {
	text-align: center;
	padding: 30px 20%;
	font-size: 14px;
}

.y-form-feedback {
	clear: both;
	border-top: 1px dashed #EBEBEB;
	padding: 30px;
	font-size: 12px;
}

.y-form-feedback .y-row {
	text-align: center;
}

.y-form-feedback i {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-style: normal;
	font-size: 32px;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	margin-right: 5px;
	color: #999;
}

.y-form-feedback p {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-align: left;
	vertical-align: middle;
}

.y-numeric-stepper {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	overflow: hidden;
	*zoom: 1;
}

.y-numeric-stepper a {
	width: 32px;
	height: 32px;
	float: left;
}

.y-numeric-stepper a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.y-numeric-stepper a.y-numeric-stepper-minus {
	background: url(/images/www-knight/components/form-supporter/minus.png?v=20131218) 0 0 no-repeat;
}

.y-numeric-stepper a.y-numeric-stepper-plus {
	background: url(/images/www-knight/components/form-supporter/plus.png?v=20131218) 0 0 no-repeat;
}

.y-numeric-stepper input {
	width: 28px;
	height: 26px;
	display: block;
	float: left;
	border: solid 1px #ccc;
	border-left: none;
	border-right: none;
	outline: none;
	padding: 2px;
	line-height: 26px;
	box-shadow: inset 1px 1px 1px #e8e8e8;
	color: #000;
	text-align: center;
}

.y-disable-mask {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0.6;
	filter: alpha(opacity=60);
	background: #FFF;
	width: 100%;
}

.y-form-msg {
	padding: 40px;
	text-align: center;
}

.y-form-msg .y-h1 i {
	font-size: 56px;
	vertical-align: middle;
	margin-right: 20px;
}

.y-form-msg .y-h1 i.icon-yes3 {
	color: #6C0;
}

.y-form-msg .y-h1 i.icon-no3 {
	color: #F90;
}

.y-form-msg .y-h1 i.icon-info {
	color: #F90;
}

.y-form-msg .y-h1 span {
	vertical-align: middle;
}

.y-form-msg p {
	font-size: 14px;
	text-align: center;
	padding: 20px 0;
	line-height: 170%;
}

.y-form-msg p .y-form-msg-list {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-align: left;
}

.y-form-stepheader {
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	clear: both;
	padding: 0;
	margin: 0;
}

.y-form-stepheader i {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 40px;
	height: 30px;
	border-radius: 40px;
	background: #69D1EA;
	font-size: 22px;
	line-height: 22px;
	color: #FFF;
	font-weight: bold;
	margin-right: 10px;
	text-align: center;
	padding-top: 10px;
	vertical-align: middle;
}

.y-form-stepheader i.y-gray {
	background: #CCC;
}

.y-btn * {
	margin: 0;
	padding: 0;
}

.y-btn::-moz-focus-inner,
.y-btn::-moz-focus-inner {
	border: 0;
}

.y-btn {
	padding: 0;
	margin: 0;
	height: 36px;
	line-height: 36px;
	width: 140px;
	border: none;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	*overflow: visible;
	font-family: \5FAE\8F6F\96C5\9ED1, \5B8B\4F53;
	background-color: #00a2c9;
	color: #fff;
	outline: none;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 14px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.y-btn:hover {
	text-decoration: none !important;
	background-color: #33b5d4;
	color: #fff;
}

.y-btn:active {
	position: relative;
	top: 1px;
	background-color: #20a5c5;
}

.y-btn-mini {
	height: 24px;
	line-height: 24px;
	width: 100px;
	font-size: 12px;
}

.y-btn-large {
	height: 42px;
	line-height: 42px;
	width: 180px;
	font-size: 18px;
}

.y-btn-disabled {
	color: #ccc !important;
	background-color: #efefef !important;
	cursor: default;
}

.y-btn-disabled:active {
	top: 0;
}

.y-btn-white {
	border: 1px solid #33b5d4;
	background-color: #fff;
	color: #00a2c9;
}

.y-btn-white:active {
	background-color: #5acbeb;
	color: #fff;
}

.y-btn-highlight {
	background-color: #fff;
	color: #00a2c9;
}

.y-btn-highlight:hover {
	background-color: #9cddf5;
	color: #00a2c9;
}

.y-btn-highlight:active {
	background-color: #5acbeb;
	color: #ffffff;
}

.y-btn-transparent {
	background-color: none;
	color: #fff;
	border: 1px solid #fff;
}

.y-btn-transparent:hover {
	background-color: #fff;
	color: #000;
}

.y-btn-transparent:active {
	background-color: #f0f0f0;
	color: #000;
}

.y-btn-white:active {
	-webkit-box-shadow: inset 0 2px 2px rgba(45, 177, 209, 0.5);
	-moz-box-shadow: inset 0 2px 2px rgba(45, 177, 209, 0.5);
	box-shadow: inset 0 2px 2px rgba(45, 177, 209, 0.5);
}

.y-tab-nav {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	clear: both;
	width: 100%;
	border: 1px solid #eeeeee;
}

.y-tab-nav li {
	width: 30%;
	float: left;
	color: #000;
	background-color: #fbfaf8;
	margin-bottom: -1px;
	text-align: center;
	border-right: 1px solid #eeeeee;
}

.y-tab-nav li:first-child {
	border-left: none;
}

.y-tab-nav li:last-child {
	border-right: none;
}

.y-tab-nav li:hover,
.y-tab-nav li.active {
	position: relative;
	border-top: solid #9cddf5 2px;
	background-color: #fff;
}

.y-tab-nav li:hover a,
.y-tab-nav li.active a {
	position: relative;
	z-index: 1px;
	margin-bottom: -1px;
}

.y-tab-nav li.active {
	border-top-color: #00a2ca;
}

.y-tab-nav li a {
	height: 46px;
	line-height: 46px;
	width: 100%;
	text-align: center;
	float: left;
	cursor: pointer;
	color: #000;
}

.y-tab-nav li a:hover {
	text-decoration: none;
}


/* new tabs style by yangzi.zong */

.y-tabs .y-tabs-bar,
.y-tabs-like .y-tabs-bar {
	height: 34px;
	overflow: hidden;
	position: relative;
}

.y-tabs .y-tabs-bar .y-tabs-tab,
.y-tabs-like .y-tabs-bar .y-tabs-tab {
	float: left;
	position: relative;
	margin-left: -1px;
	z-index: 0;
	border-top: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #00a2ca;
	background-color: #fbfaf8;
}

.y-tabs .y-tabs-bar .y-tabs-tab a,
.y-tabs-like .y-tabs-bar .y-tabs-tab a {
	text-decoration: none;
	height: 32px;
	display: block;
	text-align: center;
	border-left: 1px solid #eeeeee;
}

.y-tabs .y-tabs-bar .y-tabs-tab:hover,
.y-tabs-like .y-tabs-bar .y-tabs-tab:hover {
	background-color: white;
}

.y-tabs .y-tabs-bar .y-tabs-tab:first-child a,
.y-tabs .y-tabs-bar .y-tabs-tab-first a,
.y-tabs-like .y-tabs-bar .y-tabs-tab:first-child a,
.y-tabs-like .y-tabs-bar .y-tabs-tab-first a {
	border-left: 1px solid #eeeeee;
	margin-left: 1px;
}

.y-tabs .y-tabs-bar .y-tabs-tab-selected,
.y-tabs-like .y-tabs-bar .y-tabs-tab-selected {
	z-index: 9;
	border-right: 1px solid #eeeeee;
	border-top: 2px solid #00a2ca;
	border-bottom: 1px solid white;
	background-color: white;
}

.y-tabs .y-tabs-bar .y-tabs-tab-selected a,
.y-tabs-like .y-tabs-bar .y-tabs-tab-selected a {
	border-left: 1px solid #eeeeee !important;
}

.y-tabs .y-tabs-bar-2 .y-tabs-tab,
.y-tabs-like .y-tabs-bar-2 .y-tabs-tab {
	width: 50%;
}

.y-tabs .y-tabs-bar-3 .y-tabs-tab,
.y-tabs-like .y-tabs-bar-3 .y-tabs-tab {
	width: 33%;
}

.y-tabs .y-tabs-bar-3 .y-tabs-tab-last,
.y-tabs-like .y-tabs-bar-3 .y-tabs-tab-last {
	width: 34%;
}

.y-tabs .y-tabs-bar-4 .y-tabs-tab,
.y-tabs-like .y-tabs-bar-4 .y-tabs-tab {
	width: 25%;
}

.y-tabs .y-tabs-bar-5 .y-tabs-tab,
.y-tabs-like .y-tabs-bar-5 .y-tabs-tab {
	width: 20%;
}

.y-tabs .y-tabs-bar-6 .y-tabs-tab,
.y-tabs-like .y-tabs-bar-6 .y-tabs-tab {
	width: 16%;
}

.y-tabs .y-tabs-bar-6 .y-tabs-tab:first-child,
.y-tabs .y-tabs-bar-6 .y-tabs-tab-first,
.y-tabs-like .y-tabs-bar-6 .y-tabs-tab:first-child,
.y-tabs-like .y-tabs-bar-6 .y-tabs-tab-first {
	width: 18%;
}

.y-tabs .y-tabs-bar-6 .y-tabs-tab-last,
.y-tabs-like .y-tabs-bar-6 .y-tabs-tab-last {
	width: 18%;
}

.y-tabs .y-tabs-bar-7 .y-tabs-tab,
.y-tabs-like .y-tabs-bar-7 .y-tabs-tab {
	width: 14%;
}

.y-tabs .y-tabs-bar-7 .y-tabs-tab:first-child,
.y-tabs .y-tabs-bar-7 .y-tabs-tab-first,
.y-tabs-like .y-tabs-bar-7 .y-tabs-tab:first-child,
.y-tabs-like .y-tabs-bar-7 .y-tabs-tab-first {
	width: 15%;
}

.y-tabs .y-tabs-bar-7 .y-tabs-tab:last-child,
.y-tabs .y-tabs-bar-7 .y-tabs-tab-last,
.y-tabs-like .y-tabs-bar-7 .y-tabs-tab:last-child,
.y-tabs-like .y-tabs-bar-7 .y-tabs-tab-last {
	width: 15%;
}

.y-tabs .y-tabs-bar-8 .y-tabs-tab,
.y-tabs-like .y-tabs-bar-8 .y-tabs-tab {
	width: 12%;
}

.y-tabs .y-tabs-bar-8 .y-tabs-tab:first-child,
.y-tabs .y-tabs-bar-8 .y-tabs-tab-first,
.y-tabs-like .y-tabs-bar-8 .y-tabs-tab:first-child,
.y-tabs-like .y-tabs-bar-8 .y-tabs-tab-first {
	width: 14%;
}

.y-tabs .y-tabs-bar-8 .y-tabs-tab:last-child,
.y-tabs .y-tabs-bar-8 .y-tabs-tab-last,
.y-tabs-like .y-tabs-bar-8 .y-tabs-tab:last-child,
.y-tabs-like .y-tabs-bar-8 .y-tabs-tab-last {
	width: 14%;
}

.y-tabs .y-tabs-bar-9 .y-tabs-tab,
.y-tabs-like .y-tabs-bar-9 .y-tabs-tab {
	width: 11%;
}

.y-tabs .y-tabs-bar-9 .y-tabs-tab:last-child,
.y-tabs .y-tabs-bar-9 .y-tabs-tab-last,
.y-tabs-like .y-tabs-bar-9 .y-tabs-tab:last-child,
.y-tabs-like .y-tabs-bar-9 .y-tabs-tab-last {
	width: 12%;
}

.y-tabs .y-tabs-bar-10 .y-tabs-tab,
.y-tabs-like .y-tabs-bar-10 .y-tabs-tab {
	width: 10%;
}

.y-tabs .y-tabs-body,
.y-tabs-like .y-tabs-body {
	border: 1px solid #00a2ca;
	background-color: white;
	margin-top: -1px;
	padding-top: 1px;
}

.y-tabs .y-tabs-body .y-tabs-panel,
.y-tabs-like .y-tabs-body .y-tabs-panel {
	display: none;
}

.y-tabs .y-tabs-body .y-tabs-panel-selected,
.y-tabs-like .y-tabs-body .y-tabs-panel-selected {
	display: block;
}

.y-tabs-like .y-tabs-bar .y-tabs-tab-selected {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.y-tabs-like .y-tabs-bar .y-tabs-tab {
	border-bottom-color: #eee;
}

.y-table {
	width: 100%;
	margin-bottom: 10px;
	border: none;
}

.y-table thead,
.y-table tfoot {
	background: #f9f9f9;
}

.y-table thead tr,
.y-table tfoot tr {
	height: 26px;
}

.y-table thead tr th,
.y-table thead tr td,
.y-table tfoot tr th,
.y-table tfoot tr td {
	font-weight: bold;
	padding: 0 15px;
	font-size: 12px;
	text-align: left;
}

.y-table tbody tr {
	border-bottom: 1px #e5e5e5 dotted;
}

.y-table tbody tr th,
.y-table tbody tr td {
	padding: 15px;
}

.y-table tbody tr.even,
.y-table tbody tr.alt,
.y-table tbody tr:nth-of-type(even) {
	background: #fff;
}

.y-pagination {
	margin: 20px 0;
}

.y-pagination ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 0;
	margin-bottom: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.y-pagination ul>li {
	display: inline;
}

.y-pagination ul>li>a,
.y-pagination ul>li>span {
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: white;
	border: 1px solid #dddddd;
	border-left-width: 0;
}

.y-pagination ul>li>a:hover,
.y-pagination ul>li>a:focus,
.y-pagination ul>.active>a,
.y-pagination ul>.active>span {
	background-color: whitesmoke;
}

.y-pagination ul>.active>a,
.y-pagination ul>.active>span {
	color: #999999;
	cursor: default;
}

.y-pagination ul>.disabled>span,
.y-pagination ul>.disabled>a,
.y-pagination ul>.disabled>a:hover,
.y-pagination ul>.disabled>a:focus {
	color: #999999;
	background-color: transparent;
	cursor: default;
}

.y-pagination ul>li:first-child>a,
.y-pagination ul>li:first-child>span {
	border-left-width: 1px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.y-pagination ul>li:last-child>a,
.y-pagination ul>li:last-child>span {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.y-pagination-centered {
	text-align: center !important;
}

.y-pagination-right {
	text-align: right !important;
}

.y-pagination-large ul>li>a,
.y-pagination-large ul>li>span {
	padding: 11px 19px;
	font-size: 15px;
}

.y-pagination-large ul>li:first-child>a,
.y-pagination-large ul>li:first-child>span {
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.y-pagination-large ul>li:last-child>a,
.y-pagination-large ul>li:last-child>span {
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.y-pagination-mini ul>li:first-child>a,
.y-pagination-mini ul>li:first-child>span,
.y-pagination-small ul>li:first-child>a,
.y-pagination-small ul>li:first-child>span {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.y-pagination-mini ul>li:last-child>a,
.y-pagination-mini ul>li:last-child>span,
.y-pagination-small ul>li:last-child>a,
.y-pagination-small ul>li:last-child>span {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.y-pagination-small ul>li>a,
.y-pagination-small ul>li>span {
	padding: 2px 10px;
	font-size: 10.2px;
}

.y-pagination-mini ul>li>a,
.y-pagination-mini ul>li>span {
	padding: 0px 6px;
	font-size: 9px;
}

.y-overlay {
	border: 2px solid #9cddf5;
	background: #fff;
	z-index: 111;
	outline: none;
}

.y-overlay-hidden {
	visibility: hidden;
}

.y-overlay-mask-hidden {
	display: none;
}

.y-overlay-shown {
	visibility: visible;
}

.y-overlay-mask {
	background: #000;
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.y-overlay-mask-shown {
	display: block;
}

.y-dialog-close,
.y-overlay-close {
	position: absolute;
	right: 0;
	z-index: 112;
}

.y-overlay-close-x {
	float: right;
	font-family: 'iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #fff;
	background: #00a2ca;
	padding: 5px;
	margin-right: -2px;
	margin-top: -2px;
	line-height: 1;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 12px;
	height: 12px;
	font-smoothing: antialiased;
	*background: url(http://gtms01.alicdn.com/tps/i1/T14On3FcleXXa1YfHb-24-24.png) no-repeat 0 0;
}

.y-overlay-close-x:before {
	content: "\e602";
}

.y-overlay-close-x:hover {
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;
}

.y-alert {
	padding: 8px;
	margin-bottom: 1.5em;
	border: 1px solid #e2eced;
	border-color: #e2eced;
	background-color: #f1f6fa;
	color: #666;
}

.y-alert .icon {
	font-size: 14px;
	margin-right: 8px;
	vertical-align: text-top;
	color: #00a2c9;
}

.y-alert-success {
	border-color: #e7f3da;
	background-color: #f7ffee;
	color: #666;
}

.y-alert-success .icon {
	color: #339900;
}

.y-alert-info {
	border-color: #e2eced;
	background-color: #f7ffee;
	color: #666;
}

.y-alert-info .icon {
	color: #339900;
}

.y-alert-warning {
	border-color: #f6edd7;
	background-color: #fffded;
	color: #666;
}

.y-alert-warning .icon {
	color: #ff6905;
}

.y-alert-error {
	border-color: #f8e2d4;
	background-color: #fff3e7;
	color: #f03e3b;
}

.y-alert-error .icon {
	color: #ee0000;
}

.y-pull-right {
	float: right !important;
}

.y-pull-left {
	float: left !important;
	_display: inline;
}

.y-hide {
	display: none !important;
}

.y-show {
	display: block !important;
}

.y-invisible {
	visibility: hidden !important;
}

.y-affix {
	position: fixed !important;
}

.y-clearfix {
	zoom: 1;
}

.y-clearfix:before,
.y-clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.y-clearfix:after {
	clear: both;
}

.y-hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.y-red {
	color: #F60;
}

.y-blue {
	color: #00a2c9;
}

@ -ms-viewport {
	width: device-width;
}

.y-hidden {
	display: none;
	visibility: hidden;
}

.visible-phone {
	display: none !important;
}

.visible-tablet {
	display: none !important;
}

.hidden-desktop {
	display: none !important;
}

.visible-desktop {
	display: inherit !important;
}

@media ( min-width: 768px) and (max-width: 979px) {
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.visible-tablet {
		display: inherit !important;
	}
	.hidden-tablet {
		display: none !important;
	}
}

@media ( max-width: 767px) {
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.visible-phone {
		display: inherit !important;
	}
	.hidden-phone {
		display: none !important;
	}
}

.visible-print {
	display: none !important;
}

@media print {
	.visible-print {
		display: inherit !important;
	}
	.hidden-print {
		display: none !important;
	}
}

@media ( min-width: 1201px) {
	.y-row {
		width: 1200px;
		min-width: 1200px;
	}
}

@media ( max-width: 1200px) {
	.y-row {
		width: 1200px;
		min-width: 1200px;
	}
}

.page-screen980 .y-row {
	width: 980px !important;
	min-width: 980px !important;
}

.page-screen1200 .y-row {
	width: 1200px !important;
	min-width: 1200px !important;
}